@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueHeavy.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueBold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Uni Neue';
    src: url('../fonts/UniNeueRegular.ttf');
    font-weight: 400;
}

body {
    font-family: 'Uni Neue';
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, button, input, select {
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

ul, li {
    list-style-type: none;
}

/*========================
        Common Styles 
==========================*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 275px;
    width: 100%;
    height: 63px;
    background-color: #FFA748;
    color: #fff;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(255,167,72,1);
    -moz-box-shadow: 0px 0px 26px 0px rgba(255,167,72,1);
    box-shadow: 0px 0px 26px 0px rgba(255,167,72,1);
    transition: all 0.5s ease;
}

.title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 400;
    color: #333;
}

.subtitle {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 400;
    color: #333;
}

/*========================
        Сontainer 
==========================*/

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    color: #555;
}

/*========================
         Header 
==========================*/

.header__inner {
    padding: 20px 0 15px;
    display: flex;
}

.logo {
    margin-right: 44px;
    position: relative;
}

.logo img {
    width: 121px;
    height: 90px;
}

.logo::after {
    content: "";
    width: 250px;
    top: 0;
    height: 1px;
    left: 40px;
    background-color: #eee;
    transform: rotateZ(90deg);
    position: absolute;
}

.header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.header__item {
    display: flex;
    align-items: baseline;
    width: fit-content;
}

.header__item p:first-child {
    margin-bottom: 5px;
}

.header__item-text {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.header__item-info:last-child a {
    font-size: 14px;
    color: #007BFF;
    text-decoration: underline;
}

.header__item-numeral {
    text-align: right;
}

.header__item-numeral p {
    font-size: 24px;
    color: #333;
}

.header__item-icon {
    margin-right: 10px;
}

.header__btn {
    max-width: 215px;
    width: 100%;
    background-color: #2586EE;
}

.header__btn:hover {
    -webkit-box-shadow: 0px 0px 26px 0px rgba(37,134,238,1);
    -moz-box-shadow: 0px 0px 26px 0px rgba(37,134,238,1);
    box-shadow: 0px 0px 26px 0px rgba(37,134,238,1);
}

.nav {
    margin-top: 30px;
    position: relative;
}

.nav:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eee;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item:first-child {
    padding-left: 30px;
}

.nav__link {
    font-size: 16px;
    font-weight: 400;
    color: #555;
}

.nav__link:hover {
    text-decoration: underline;
}

/* MOBILE NAV */

.mobile-nav {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}

.nav-toggle {
    margin: 15px 0;
    position: relative;
    text-align: right;
    background: transparent;
    border: 1px solid transparent;
    z-index: 3;
}
  
.nav-toggle:focus {
    outline-width: 0;
}
  
.nav-toggle [class*='bar-'] {
    background-color: #2586EE;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    height: 3px;
    width: 35px;
    margin-bottom: 5px;
    transition: all .3s linear;
}
  
.nav-toggle .bar-bot {
    margin-bottom: 0;
    transition: all .3s linear;
}
  
.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
    transition: all .3s linear;
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
    transition: all .3s linear;
}

/*========================
         Banner 
==========================*/

.banner {
    min-height: 643px;
    background-color: #2586EE;
    background-image: url(../img/banner/lines.svg);
    position: relative;
    z-index: 1;
}

.banner::after {
    content: "";
    position: absolute;
    background: url(../img/banner/billboard.png) center center no-repeat;
    bottom: 0;
    background-position: center;
    z-index: 2;
    left: calc(50% - 1004px / 2);
    height: 614px;
    width: 825px;
}

.banner::before {
    content: "";
    position: absolute;
    background: url(../img/banner/clouds.png) center center no-repeat;
    left: 0;
    top: 20px;
    z-index: 2;
    width: 1577px;
    height: 753px;
}

/*========================
         Teasers 
==========================*/

.teasers {
    background-color: #FAFCFF;
    min-height: 386px;
    border-bottom: 1px solid #eee;
}

.teasers__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teasers__item {
    padding: 85px 50px 0;
    width: 33%;
    height: 385px;
    border-right: 1px solid #eee;
}

.teasers__item:first-child {
    padding-left: 0;
}

.teasers__item:last-child {
    padding-right: 0;
    border-right: 0;
}

.teasers__item-img {
    margin-bottom: 35px;
    height: 60px;
    width: 65px;
}

.teasers__item-text {
    max-width: 310px;
    width: 100%;
}


/*========================
        Services 
==========================*/

.services {
    margin: 80px 0 120px;
}

.services__caption {
    margin-bottom: 45px;
    max-width: 800px;
    width: 100%;
}

.services__caption-desc {
    font-size: 18px;
    font-weight: 400;
}

.services__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #eee;
}

.services__item {
    padding: 30px 30px 50px 30px;
    width: 33%;
    border-right: 1px solid #eee;
}

.services__item:nth-child(-n+3) {
    border-bottom: 1px solid #eee;
}

.services__item:nth-child(3), .services__item:nth-child(6) {
    border-right: 0;
}

.services__item:last-child .services__item-img {
    width: 80px;
    height: 52px;
}

.services__item-img {
    width: 47px;
    height: 60px;
    margin-bottom: 25px;
}


/*========================
        Offer 
==========================*/

.offer {
    background-color: #2586EE;
    min-height: 475px;
    background-image: url(../img/offer/lines.svg);
    background-position: center;
}

.offer__inner {
    display: flex;
    height: 475px;
}

.offer__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer__info-title {
    max-width: 545px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3%;
}

.offer__info-text {
    max-width: 545px;
    width: 100%;
    margin-top: 33px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.offer__content {
    width: 60%;
    position: relative;
}

.offer__content::before {
    content: url(../img/offer/ipad.png);
    position: absolute;
    top: 75px;
    left: 70px;
    z-index: 1;
}

.offer__content::after {
    content: url(../img/offer/pen.png);
    position: absolute;
    top: 75px;
    right: -170px;
    z-index: 11;
}

.offer__form {
    padding: 55px 0 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 440px;
    position: absolute;
    right: 0;
    top: 60px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
}

.offer__form-title {
    margin-bottom: 35px;
    font-size: 28px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.offer__form-title span {
    font-weight: 700;
    color: #2586EE;
}

.offer__form-item {
    margin-bottom: 10px;
    padding-left: 22px;
    width: 275px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 2px;
}

.offer__form-item legend {
    font-size: 13px;
    font-weight: 400;
    color: #2D7DC8;
}

.offer__form-item input {
    padding: 10px 10px 0px 0px;
    font-size: 15px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.offer__btn {
    margin-top: 20px;
}

/*========================
        Portfolio 
==========================*/

.portfolio {
    margin: 140px 0 85px;
}

.portfolio__items {
    position: relative;
}

.portfolio__item {
    width: 375px;
    height: 286px;
    margin-right: 10px;
}

.portfolio__item:last-child {
    margin-right: 0;
}

.portfolio__item-img {
    width: 100%;
    height: 286px;
}

.slick-arrow {
    width: 39px;
    height: 39px;
    font-size: 0;
    border: 1px solid #2586EE;
    border-radius: 25px;
    outline: none;
    background: none;
    position: absolute;
    z-index: 2;
    top: calc(40% - 38px / 2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.slick-arrow:hover {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(37,137,225,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(37,137,225,1);
    box-shadow: 0px 0px 9px 0px rgba(37,137,225,1);
    transition: all 0.3s ease;
}

.slick-prev {
    left: -60px;
    background: url(../img/icons/arrow-prev.svg) center center no-repeat;
}

.slick-next {
    background: url(../img/icons/arrow-next.svg) center center no-repeat;
    right: -50px;
}

.slick-dots {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.slick-dots button {
    margin-right: 6px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #DCDCDC;
    width: 7px;
    height: 7px;
    font-size: 0;
    cursor: pointer;
}

.slick-active button {
    width: 29px;
    background-color: #2586EE;
}

/*========================
        Reviews 
==========================*/

.reviews {
    margin-bottom: 130px;
}

.reviews__item {
    padding: 30px 30px 40px;
    width: 570px;
    height: 267px;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 2px;
    outline: none;
}

.reviews__item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.reviews__item-date {
    font-size: 14px;
    font-weight: 400;
    color: #2586EE;
}

.reviews__item-content {
    display: flex;
    justify-content: space-between;
}

.reviews__item-profile {
    max-width: 315px;
    width: 100%;
}

.reviews__item-name {
    font-size: 18px;
    color: #333;
}

.reviews__item-desc {
    margin-top: 20px;
}

.reviews__widget-content {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 100px;
    border: 1px solid #eee;
    position: relative;
}

.reviews__widget-content::before {
    content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
    left: 100px;
    top: 99px; 
	border: 6px solid; 
    border-color: #eee #eee transparent transparent;
}

.reviews__widget-content::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 101px;
    top: 98px;
    border: 5px solid;
    border-color: #fff #fff transparent transparent;
}

.reviews__img {
    margin-bottom: 4px;
    width: 28px;
    height: 58px;
}

.reviews__widget-find {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.reviews__widget-find:hover {
    text-decoration: underline;
}

.reviews__widget-find img {
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.reviews__widget-find p {
    font-size: 13px;
    color: #2586EE;
}


/*========================
        Calculation 
==========================*/

.calculation {
    background-color: #2586EE;
    min-height: 443px;
    background-image: url(../img/calculation/lines.svg);
    background-position: center;
}

.calculation__inner {
    display: flex;
    height: 443px;
}

.calculation__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 355px;
    width: 60%;
    height: 100%;
}

.calculation__info-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3%;
}

.calculation__info-text {
    margin-bottom: 35px;
    font-size: 18px;
    color: #fff;
}

.calculation__btn {
    max-width: 247px;
    width: 100%;
}

.calculation__visual {
    width: 60%;
    height: 405px;
    align-self: flex-end;
    text-align: right;
    position: relative;
    z-index: 2;
}

.calculation__visual:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../img/calculation/decoration.svg);
    width: 283px;
    height: 263px;
    left: 22%;
    top: calc(47% - 265px / 2);
}

.calculation__visual::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: url(../img/calculation/decoration2.svg) no-repeat;
    width: 194px;
    height: 259px;
    left: 96%;
    top: calc(50% - 259px / 2);
}

.calculation__img {
    width: 374px;
    height: 406px;
}


/*========================
        About 
==========================*/

.about {
    margin: 105px 0 120px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__widget {
    width: 40%;
    padding: 35px 35px 40px;
    border: 2px solid #2586EE;
}

.about__widget-title {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 400;
    color: #2586EE;
}

.about__text:nth-child(2) {
    margin-bottom: 25px;
}

.about__text {
    font-size: 14px;
}

.about__widget-range {
    margin: 30px 0;
}

.about__widget-range p {
    font-weight: 700;
    font-size: 14px;
}

.about__content {
    width: 56%;
}

.about__content-item {
    margin-bottom: 45px;
}

.about__content-item:last-child {
    margin-bottom: 0;
}

/*========================
           Call 
==========================*/

.call {
    background-color: #2586EE;
    min-height: 443px;
    background-image: url(../img/call/lines.svg);
    background-position: center;
}

.call__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
    position: relative;
}

.call__inner::before {
    position: absolute;
    content: url(../img/call/man.png);
    bottom: 0;
    left: 55%;
    width: 618px;
    height: 493px;
    z-index: 9;
}

.call__caption {
    max-width: 422px;
    width: 100%;
}

.call__caption .calculation__info-text {
    margin-bottom: 40px;
}

.call__form {
    display: flex;
}

.call__form-input {
    margin-right: 9px;
    padding: 0 22px;
    width: 251px;
    height: 63px;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 15px;
    color: #777;
    cursor: pointer;
}

.call__btn {
    max-width: 251px;
    position: relative;
    z-index: 11;
}


/*========================
        Insert 
==========================*/

.insert {
    padding: 40px 0 35px;
    background-color: #FAFCFF;
}

.insert__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insert__number {
    font-size: 72px;
    font-weight: 400;
    color: #2586EE;
    transition: all 0.5s ease;
}

.insert__number:hover {
    opacity: .8;
    transition: all 0.5s ease;
}


/*========================
        Footer 
==========================*/

.footer {
    height: 326px;
    background-color: #FAFCFF;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #DFEEFF;
    width: 100%;
    top: 0;
    left: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    height: 326px;
}

.footer__item {
    padding-top: 50px;
}

.footer__item:first-child {
    width: 23%;
    border-right: 1px solid #DFEEFF;
}

.footer__item:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 44%;
    padding: 50px 50px 0;
    border-right: 1px solid #DFEEFF;
}

.footer__item:last-child {
    width: 35%;
    padding-left: 70px;
}

.footer__copyright {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #8792A8;
}

.footer__block-title {
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2%;
}

.footer__item-block .footer__block-text:last-child {
    margin-bottom: 0;
}

.footer__block-text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.footer__contacts-item {
    margin-bottom: 35px;
}

.footer__contacts-item a:hover {
    text-decoration: underline;
}

.footer__contacts-title {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #2586EE;
    text-transform: uppercase;
    letter-spacing: 2%;
}

.footer__contacts-desc {
    font-size: 20px;
    font-weight: 400;
    color: #525C70;
}



/*========================
          Media 
==========================*/

@media (max-width: 1500px) {
    .offer__content {
        width: 45%;
    }

    .offer__content::before {
        left: 0;
    }
}

@media (max-width: 1365px) {
    .call__inner::before {
        left: 46%;
    }

    .offer__content {
        width: 41%;
    }
}

@media (max-width: 1320px) {
    .offer__content {
        width: 38%;
    }

    .offer__content::before {
        left: -40px;
    }

    .calculation__visual {
        width: 44%;
    }

    .calculation__visual:before {
        left: 8%;
    }
}

@media (max-width: 1200px) {
    .offer__content {
        width: 36%;
    }
}

@media (max-width: 1160px) {

    .header__btn {
        max-width: 150px;
    }

    .header__item-numeral p {
        font-size: 20px;
    }

    .offer__info {
        width: 37%;
    }

    .offer__content {
        width: 43%;
    }

    .offer__content::before {
        left: 13px;
    }

    .call__inner::before {
        left: 40%;
    }
}

@media (max-width: 1050px) {
    .call__inner::before {
        display: none;
    }

    .footer__item:nth-child(2) {
        padding: 35px 25px 0;
    }
}

@media (max-width: 991px) {

    .header {
        height: 86px;
    }

    .container {
        padding: 0 20px;
    }

    .header__item:first-child, .header__item:nth-child(2), .header__btn, .logo::after {
        display: none;
    }

    .header__inner {
        position: relative;
        height: 86px;
        padding: 0;
        align-items: center;
    }

    .logo {
        margin-right: 0;
        position: absolute;
        left: calc(50% - 121px / 2);
    }

    .logo img {
        width: 80px;
        height: 60px;
    }

    .header__content {
        position: relative;
        flex-direction: unset;
    }

    .header__top .header__item {
        position: absolute;
        right: 0;
    }

    .nav {
        display: none;
        flex-direction: column;
        width: 125px;
        position: absolute;
        text-align: right;
    }

    .nav:after {
        display: none;
    }

    .nav.show {
        z-index: 20;
        padding: 70px 0 0 0;
        display: flex;
        top: 0;
        right: 0;
        width: 100vw;
        height: 225vw;
        text-align: center;
        font-size: 24px;
        background-color: #fff;
    }

    .nav__item {
        margin: 0px 0px 10px 0;
        color: #007BFF;
    }

    .nav__item:first-child {
        padding-left: 0;
    }

    .nav__link {
        font-size: 24px;
    }

    .mobile-nav {
        display: block;
        margin-right: 0;
        position: absolute;
        top: calc(50% - 21px);
    }

    .nav-toggle {
        left: 0;
    }

    .nav ul {
        flex-direction: column;
    }

    .teasers {
        min-height: 324px;
    }

    .teasers__item {
        padding: 30px 25px 0;
        height: 355px;
    }

    .services {
        margin: 60px 0 70px;
    }
    
    .services .container {
        padding: 0;
    }

    .services__caption {
        padding-left: 15px;
    }

    .offer {
        min-height: 724px;
    }

    .offer__inner {
        display: block;
        height: 724px;
    }

    .offer__info {
        width: 100%;
        padding-top: 50px;
    }

    .offer__info-text {
        max-width: 745px;
        margin-top: 20px;
    }

    .offer__form-content {
        display: flex;
        align-items: center;
    }

    .offer__form {
        width: 700px;
        height: 246px;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        border: 1px solid #eee;
        border-radius: 2px;
        top: 130px;
        left: 0;
    }

    .offer__form-item {
        margin-right: 10px;
        margin-bottom: 0;
        width: 190px;
    }

    .offer__btn {
        margin-top: 0;
        width: 242px;
        height: 53px;
    }

    .offer__form-title {
        margin: 0px 255px 30px 0px;
        max-width: 391px;
        width: 100%;
        text-align: left;
    }

    .offer__content::after {
        top: 60px;
        right: -315px;
    }

    .offer__content::before {
        top: 40px;
    }
    
    .portfolio__item-img {
        height: 266px;
    }
    
    .portfolio {
        margin: 60px 0;
    }

    .slick-dots {
        margin: 35px auto 0;
    }

    .reviews__item-profile {
        max-width: 405px;
    }

    .reviews {
        margin-bottom: 60px;
    }

    .calculation {
        min-height: 348px;
    }

    .calculation__visual::after {
        display: none;
    }

    .calculation__visual {
        width: 47%;
    }

    .calculation__visual:before {
        left: 46%;
    }

    .about {
        margin: 55px 0;
    }
    
    .about__inner {
        display: block;
    }

    .about__widget {
        width: 100%;
        padding: 25px 25px 35px;
    }

    .about__widget-title {
        margin-bottom: 15px;
    }

    .about__content {
        margin-top: 30px;
        width: 100%;
    }

    .about__content-item {
        max-width: 864px;
    }

    .call {
        min-height: 474px;
    }
    
    .call__inner {
        height: 474px;
    }

    .call__form {
        flex-direction: column;
    }

    .call__inner::before {
        display: block;
    }

    .call__caption {
        max-width: 372px;
    }

    .calculation__info-title {
        margin-bottom: 20px;
    }

    .call__form-input {
        margin-bottom: 10px;
        width: 264px;
    }

    .call__btn {
        max-width: 264px;
    }

    .call__caption .calculation__info-text {
        margin-bottom: 35px;
    }

    .call__inner::before {
        left: 28%;
    }

    .insert {
        padding: 25px 0;
    }

    .insert__number {
        font-size: 49px;
    }

    .insert__inner .btn {
        max-width: 226px;
    }

    .footer::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #DFEEFF;
        width: 100%;
        bottom: 50px;
        left: 0;
    }

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__item:first-child {
        width: 30%;
        height: 85%;
    }

    .footer__item:nth-child(2) {
        width: 70%;
        border-right: 0;
    }

    .footer__item:last-child {
        width: 100%;
        padding-left: 0;
    }

    .footer__contacts {
        display: flex;
        justify-content: space-around;
    }
}


@media (max-width: 870px) {
    .calculation__visual:before {
        display: none;
    }

    .call__form {
        z-index: 10;
    }

    .call__inner::before {
        left: 17%;
    }

    .calculation__info {
        width: 38%;
    }
}

@media (max-width: 760px) {
    .call__caption {
        z-index: 10;
    }

    .call__inner::before {
        left: 7%;
    }

    .offer__form {
        width: 550px;
    }

    .offer__form-title {
        margin: 0px 125px 30px 0px;
    }

    .offer__form-item {
        width: 160px;
        padding-left: 10px;
    }

    .offer__btn {
        width: 160px;
    }
}

@media (max-width: 700px) {
    .teasers__item {
        width: 100%;
        padding: 35px 0 0 0;
        height: 290px;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    .teasers__item-text {
        margin: 0 auto;
    }

    .services__item {
        width: 50%;
        padding: 30px 15px 50px 30px;
    }

    .services__item:nth-child(4) {
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
    }
}

@media (max-width: 680px) {
    .call__inner::before {
        display: none;
    }

    .calculation__visual {
        display: none;
    }
}

@media (max-width: 575px) {

    .header__item {
        display: none;
    }

    .logo {
        left: 0;
    }

    .mobile-nav {
        right: 0;
    }

    .services {
        margin: 40px 0 50px;
    }

    .services__caption {
        margin-bottom: 25px;
    }

    .services__item {
        width: 100%;
        text-align: center;
    }

    .offer__content::before, .offer__content::after {
        display: none;
    }

    .offer {
        min-height: 820px;
    }

    .offer__inner {
        height: 820px;
    }

    .offer__form {
        width: 290px;
        height: 374px;
        padding: 30px 0 65px;
        top: 75px;
    }
    
    .offer__form-title {
        margin: 0 0 25px 0;
        max-width: 268px;
        text-align: center;
    }

    .offer__form-content {
        flex-direction: column;
    }

    .offer__form-item {
        width: 275px;
        margin: 0 0 15px;
    }

    .offer__btn {
        margin-top: 10px;
        width: 275px;
    }

    .portfolio {
        margin: 40px 0;
    }

    .portfolio__item {
        margin-right: 0;
    }

    .title {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .calculation {
        min-height: 700px;
    }

    .calculation__inner {
        flex-direction: column;
        height: 700px;
    }

    .calculation__info {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .calculation__btn {
        margin: 0 auto 20px;
    }

    .calculation__visual {
        display: block;
        width: 100%;
    }

    .calculation__img {
        width: 100%;
        max-width: 374px;
        height: 406px;
    }

    .about__widget-title {
        font-size: 22px;
    }

    .about__text {
        font-size: 14px;
    }

    .about__widget-range p {
        font-size: 14px;
    }

    .call__caption, .call__form {
        margin: 0 auto;
        text-align: center;
    }
    
    .insert__inner {
        flex-direction: column;
    }

    .insert__number {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .insert__inner .btn {
        max-width: 267px;
    }

    .footer .container {
        padding: 0;
    }

    .footer::after {
        bottom: 125px;
    }

    .footer__item {
        padding-top: 35px;
        text-align: center;
        background-color: #FAFCFF;
    }

    .footer__item:first-child {
        width: 100%;
        border-right: 0;
        height: 65%;
        position: relative;
    }

    .footer__item:nth-child(2) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 35px 0;
    }

    .footer__item:nth-child(2) .footer__item-block:last-child {
        margin-top: 25px;
    }

    .footer__item:last-child {
        border-top: 1px solid #DFEEFF;
    }

    .footer__contacts {
        flex-direction: column;
    }

    .footer__contacts-desc {
        font-size: 18px;
    }
}

@media (max-width: 440px) {

    .logo img {
        width: 51px;
        height: 38px;
    }

    .services__caption .title {
        text-align: left;
    }

    .offer__form {
        top: 35px;
    }

    .offer__info-text {
        font-size: 16px;
    }

    .offer__info-title {
        font-size: 26px;
    }

    .offer__form-title {
        font-size: 24px;
    }

    .slick-dots {
        margin: 20px auto;
    }

    .reviews__item-content {
        flex-direction: column;
    }

    .reviews__item {
        height: 372px;
    }

    .reviews__widget-content {
        margin-top: 15px;
        max-width: 330px;
        width: 100%;
        height: 115px;
    }

    .reviews__widget-content::before {
        left: 160px;
        top: 113px;
        border: 9px solid;
        border-color: #eee #eee transparent transparent;
    }

    .reviews__widget-content::after {
        left: 162px;
        top: 112px;
        border: 7px solid;
        border-color: #fff #fff transparent transparent;
    }

    .calculation__info-title {
        font-size: 26px;
    }

}